* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
}
.app-container {
  height: 100vh;
  background-color: aqua;
} 

/* -------- Header -------- */

.content-header {
  position: fixed;
  padding: 5px;
  top: 0;
  left: 0;
  min-width: 100vw;
  background-color: #414141; 
  color: #fff; 
  text-align: center;
  z-index: 2;
}
.title-header {
  width: 100%;
  padding: 15px 0;
}

/* -------- main content -------- */

.middle-container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(242,252,255,1) 0%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
}

.middle-content {
  max-height: 90vh;
}

.background-image-links img{
  width: 20px;
  height: 20px;
}

/* -------- footer -------- */

.btn-up-link {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 35px;
}

.icon-btn-up {
  font-size: 30px;
}

.icon-btn-up:hover {
  transform: scale(1.14);
  background-color: #fff;
  transition: 0.5s;
}