.container-btn {
    color: #fff;
    width: 100%;
}

.content-btn {
    padding: 10px 0 10px 0;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.btn-area {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 20px;
    margin-left: 5px;
}

.btn {
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    padding: 6px 8px 6px 8px;
    border: 2px solid #fff;
    border-radius: 15px;
    margin-left: 1px;
}

.btn:active {
    transition: 0.1s;
    transform: scale(0.95);
    background-color: #176B87;
    color: #000;
}

@media screen and (min-width: 1280px) {
    .content-btn {
        width: 600px;
    }


    .btn {
        margin-left: 20px;
        padding: 7px 12px 7px 12px;
     }  
}