.container-btn-menu {
    padding-top: 10px;
}

.icon {
    position: fixed;
    z-index: 3;
    left: 1%;
    width: fit-content;
    height: 44px;
    cursor: pointer;

}

.hamburguer {
    top: 50%;
    left: 10%;
    width: 30px;
    height: 6px;
    background-color: #ffffffb7;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.hamburguer::before {
    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: #ffffffb7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.hamburguer::after {
    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: #ffffffb7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.list {
    display: flex;
    flex-direction: column;
    left: 1%;
    flex-wrap: nowrap;
    color: #c4c4c4;
    font-size: 1.2rem;
    font-weight: 600;
}

.list .list-items {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

.list .list-items li{
    margin: 10px 8px;
    cursor: pointer;
}

.list .list-items li:hover{
    font-weight: 800;
}

.iconActive .hamburguer { 
    background: transparent;
    box-shadow: 0 2px 5px transparent;
}

.iconActive .hamburguer::after { 
    top: 0;
    background: #fff;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.iconActive .hamburguer::before { 
    top: 0;
    background: #fff;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
} 

.menu.menuOpen {
    width: 150px;
    max-height: 100vh;
    height: 100vh;
    z-index: 1;
    margin-top: 55px;
    position: fixed;
    background: #000;
    box-shadow: 10px 0 69px 0 rgba(0, 0, 0, 0.59);
}

.menu.menuClose {
    display: none;
    width: 0px;
}

a {
    text-decoration: none;
    color: #000;
    margin-left: 2px;
    user-select: none;
}

.menu.menuOpen a{
    color: #fff;
}

.item-icon {
    color: #fff;
}