.container-footer {
    display: flex;
    padding: 5px;
    width: 100%;
    background-color: #001c30; 
    color: #fff; 
}

.content-footer {
    display: flex;
    align-content: space-between;
    width: 100%;
    flex-direction: row;
}

.description {
    width: 70%;
    padding: 10px 0 10px 30px;
}

.description a {
    text-decoration: none;
    color: #fff;
}

.item1 {
    margin-bottom: 10px;
}

.bottom-area {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 10px 0 10px 30px;
}

.btn-up-link {
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    background-color: transparent;
}

.icon-btn-up {
    font-size: 25px;
    font-weight: bold;
}

.btn-up {
    color: #fff;
}

.btn-up-link a:active {
    transition: 0.3s;
    transform: scale(0.92);
}

.btn-up-link :hover{
    transform: scale(1.03);
    transition: 0.3s;
    background-color: #64CCC5;
    color: #000;
}

@media screen and (max-width: 456px) {  
    .description {
        display: none;
    }
    
    .bottom-area {
        width: 100%;
    }
}