* {
    font-family: sans-serif;
}

.container-header {
    display: block;
    width: 100%;
    background-color: #001c30; 
    color: #fff; 
}

.content-header {
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center
}

.name {
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 630px) {
    .btn-menu {
        display: none;
    }

    .menu {
        margin: 0 auto;
    }

}